.containerStore {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  .shop {
    font-size: 14px;
    color: rgb(100, 98, 98);

    p {
      margin: 0;
      line-height: 1.5;
    }

    .address {
      margin-bottom: 0.25rem;
    }

    .city {
      margin-bottom: 0.25rem;
    }

    .phone {
      font-weight: 500;
    }
  }

  span {
    flex: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.fade-in {
  animation: fadeIn 3s;
  transition: ease-in;
  -webkit-transition: ease-in;
  -moz-transition: ease-in;
  -ms-transition: ease-in;
  -o-transition: ease-in;
  -webkit-animation: fadeIn 3s;
}

@media screen and (max-width: 480px) {
  .containerStore {
    flex-direction: column;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }
}
