.containerStory {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-top: 4rem;
  padding-bottom: 6rem;

  .storyHeading {
    padding-top: 2.65rem;
  }

  .contentStory {
    flex: 1;
    font-size: 14px;
    color: rgb(100, 98, 98);
    line-height: 1.5;
  }

  .div > fade-in {
    animation: fadeIn 3s;
    transition: ease-in;
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -ms-transition: ease-in;
    -o-transition: ease-in;
    -webkit-animation: fadeIn 3s;
  }

  .storyHeading {
    font-size: 1.6rem;
    font-family: on9jai2;
    color: black;
  }

  h1 {
    padding-top: 2rem;
  }

  span {
    flex: 1;
  }

  p {
    margin-left: 0;
    text-align: justify;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  .containerStory {
    padding-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .containerStory {
    min-height: 100vh;
    padding-top: 2rem;
    padding-bottom: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
    font-size: 1.4rem;
  }

  h1 {
    margin-left: 0;
  }

  p {
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
}
