@media screen and (max-width: 420px) {
  .categories {
    display: none;
    flex-direction: column !important;
    height: 100vh !important;

    .col {
      display: none;
      flex-direction: row !important;
    }

    .row {
      display: none !important;
    }

    #yoga {
      display: none !important;
    }

    #fashion {
      display: none;
      height: 30vh !important;

      gap: 0px !important;
    }
  }
}

.link-2 {
  font-size: 0.7rem;
  text-decoration: none;
}

.link-2:visited {
  text-decoration: none;
  background-color: white;
  color: black;
}

.categories {
  display: flex;
  height: 100vh;
  gap: 10px;
  margin: 25px;

  .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .col-l {
    flex: 2;
  }

  .row {
    flex: 1;
    display: flex;
    gap: 10px;
    position: relative;
    overflow: hidden;

    .categories-btn {
      position: absolute;
      min-width: 100px;
      width: fit-content;
      background-color: white;
      color: black;
      border: 0.5px solid black;
      text-transform: uppercase;
      font-size: 11px;
      height: 50px;
      padding: 10px;
      top: 0; // position the text in center
      bottom: 0; // position the text in center
      left: 0; // position the text in center
      right: 0; // position the text in center
      margin: auto;
      cursor: pointer;
      font-weight: 500;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
