.coming-soon {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coming-soon-container {
  width: 100%;
  text-align: center;
  padding: 2rem;
}

.coming-soon-text {
  font-size: 1rem;
}

.loginCard-title.coming-soon-text {
  font-family: "on9jai", sans-serif;
  font-weight: 400;
  padding-bottom: 0;
}

.containerStory.storyHeading {
  padding-top: 2.7rem;
}

@media screen and (max-width: 420px) {
  .coming-soon-container {
    padding: 1rem;

    h1 {
      font-size: 22px !important;
    }
    .coming-soon-text {
      font-size: 1.1rem !important;
    }
  }
}
