@media screen and (max-width: 720px) {
  #trending-desc {
    margin-bottom: -1rem !important ;
  }

  .featuredProducts {
    margin: 5rem 2rem !important;
    width: 100vw !important;
    height: 200vh !important;

    .top {
      margin-left: 0.2rem !important;
      padding-right: 1.6rem !important;
    }

    h1 {
      flex: 1 !important;
      letter-spacing: -0.1rem;
    }

    p {
      flex: 1 !important;
    }

    .bottom {
      flex-direction: column !important;
      height: 50vh !important;
      margin-top: 35rem;
      position: relative !important;
      left: 25% !important;

      .card-container {
        height: 100% !important;
      }

      span {
        position: absolute;
        top: 0%;
        left: -25%;
      }
    }
  }
}

.featuredProducts {
  height: 100%;
  margin: 100px 200px;

  .top {
    display: flex;
    align-content: start;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;

    h1 {
      flex: 2;
      text-transform: capitalize;
      font-family: on9jai2, sans-serif;
      font-size: 30px;
    }

    p {
      flex: 3;
      color: #808080;
      font-size: 15px;
      padding-top: 50px;
    }
  }
}

.bottom {
  display: flex;
  justify-content: center;
  gap: 50px;

  .errMessage {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  -webkit-transform: translateY(150px);
  -moz-transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  will-change: transform, opacity;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.reveal.active {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 720px) {
  .lds-ring div {
    margin-top: -600px !important;
    margin-left: 45px !important;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  margin-top: 96px;
  border: 6px solid #f1f0f0;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -moz-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #f1f0f0 transparent transparent transparent;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
  -moz-animation-delay: -0.45s;
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
  -moz-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
  -moz-animation-delay: -0.15s;
  animation-delay: -0.15s;
}
@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes lds-ring {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
