@media screen and (max-width: 720px) {
  .contact {
    padding-top: 10rem !important;
    width: 100vw !important;
    height: 40vh !important;

    .wrapper {
      flex-direction: column !important;

      .mail {
        margin-top: 7rem !important;
      }
      span {
        padding-left: 0.5rem !important;
        padding-right: 0px !important;
        font-size: 0.8rem !important;
      }

      input {
        margin-top: 3rem !important;
      }
    }

    .icons {
      margin-left: -2.5rem !important;
    }
  }
}

.contact {
  padding: 15px;
  display: flex;
  justify-content: center; // centering the wrapper

  .wrapper {
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: 12px;
      padding-right: 50px;
    }

    .mail input#text {
      width: 128px;
      height: 18px;
      padding: 10.5px;
      font-size: 12px;
      border: 1px solid rgb(186, 185, 185);
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      -webkit-transition: width 0.55s ease;
      -moz-transition: width 0.55s ease;
      -ms-transition: width 0.55s ease;
      -o-transition: width 0.55s ease;
      transition: width 0.55s ease;
    }

    .mail input#text:focus,
    .mail input#text:active {
      border: 1px solid #000000;
      outline: none;
      width: 300px;
    }

    .mail input#text:hover {
      border: 1px solid #000000;
      width: 300px;
    }

    .subscribe-btn {
      height: 40.3px;
      font-size: 12px;
      color: #ffffff;
      background-color: #000000;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-left: 5px;
      cursor: pointer;
      border: 1px solid black;
    }

    .subscribe-btn:hover {
      color: #000000;
      background-color: #ffffff;
      border: 1px solid black;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }
  }
  .icons {
    display: flex;
    gap: 20px;
    cursor: pointer;

    .icon-fa {
      width: 50px;
    }
    .icon {
      font-size: 15px;
    }
  }
}
